.all-activities-container {
  background-color: #FFC4C3;
  background-image: url("https://github.com/laport14/Bucket-List/blob/development/client/src/assets/background-image.jpeg?raw=true");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  min-width: 100vw;
  z-index: -1;
}

.activities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}

.activities-hero-text {
  text-align: left;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 34px;
  width: 30%;
  margin-left: 150px;
  margin-top: 0;
  padding-top: 20px;
}

.submit-button-activities {
  width: 130px;
  height: 40px;
  background-color: #FF717A;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}

