.activities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}

.activities-hero-text {
  text-align: left;
  width: 30%;
  margin-left: 150px;
  margin-top: 0;
  padding-top: 20px;
}

.all-activities-container {
  
}

