.App {
  text-align: center;
}

.global-button {
  font-size: 16px;
  color: #ffffff;
  background-color: #1F5E57;
  border: 0;
  width: 200px;
  height: 30px;
  -webkit-appearance: none;
  cursor: pointer;
  margin: 30px auto;
}

.global-button:hover {
  background-color: #FF717A;
  color: #1F5E57;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFC4C3;
  height: 83vh;
  }

.hero-text {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Bebas Neue', sans-serif;
}

a {
  text-decoration: none;
}